.buy {
  padding-bottom: 105px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 768px) {
    padding-bottom: 40px;
  }
}

.buy__container {
  width: min(1525px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 768px) {
    width: min(540px, 100%);
  }
}

.buy__site-map {
  margin-bottom: 96px;
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: var(--third-family);
  font-size: 40px;
  color: #fff;
  text-wrap: nowrap;

  @media screen and (max-width: 1079px) {
    font-size: 32px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }

  div {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}

.buy__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  color: #fff;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-bottom: 27px;
    font-family: var(--third-family);
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
  }
}

.buy__list {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1279px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 32px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.25);
    gap: 20px;
  }

  li {
    padding: 46px 44px;
    border: 2px solid #fff;
    border-radius: 32px;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 768px) {
      padding: 0;
      border: none;
      border-radius: 0;
      backdrop-filter: none;
      background: transparent;
    }

    h3 {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: var(--second-family-bold);
      font-weight: 700;
      font-size: 32px;
      color: #fff;

      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
        font-size: 20px;

        img {
          width: 22px;
        }
      }
    }

    p {
      max-width: 304px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 20px;
      color: #fff;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

.buy__btn {
  width: 269px;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  color: #0d0d0d;
  transition: filter 200ms ease;

  @media screen and (max-width: 768px) {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
}

.buy__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  z-index: -1;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
