.home {
  padding-top: 250px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 768px) {
    padding: 130px 15px 82px 15px;
  }
}

.home__title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 100px;
  letter-spacing: 0.08em;
  color: #fff;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 123px;
    font-size: 20px;
  }
}

.home__description {
  max-width: 742px;
  margin-bottom: 160px;
  font-family: var(--second-family-bold);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #fff;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.home__token {
  width: min(805px, 100%);
  height: 66px;
  margin-bottom: 66px;
  padding-left: 34px;
  padding-right: 34px;
  border: 2px solid #fff;
  border-radius: 15px;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.token__code {
  font-weight: 600;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.token__copy {
  flex-shrink: 0;
  transition: filter 200ms ease;

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
}

.home__links {
  display: flex;
  justify-content: center;
  gap: 100px;

  @media screen and (max-width: 1079px) {
    gap: 33px;
  }

  a {
    width: 270px;
    height: 69px;
    border: 2px solid #fff;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    transition: filter 200ms ease;

    @media screen and (max-width: 1079px) {
      width: 200px;
      height: 50px;
    }
    @media screen and (max-width: 768px) {
      width: 87px;
      height: 27px;
      border-width: 1px;
      font-family: var(--second-family-bold);
      font-size: 12px;
    }

    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(1);
    }
  }
}

.home__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  z-index: -1;

  @media screen and (max-width: 768px) {
    width: 500px;
    height: 200px;
  }
}
